<div class="about-container">
    <h2>About</h2>
    <p>
      Nosotros somos un grupo de 5 estudiantes de la carrera de Ingenieria de Sistemas que desean implementar una solución innovadora con nuestro principal objetivo, los universitarios foráneos. Ciertamente los universitarios foráneos son personas que usualmente por cuestiones de tiempo, o cuestiones económicas, se les dificulta poder cocinar sus propias comidas, por lo tanto, llega la iniciativa de ChefExpress, esta iniciativa funciona como un generador de recetas, donde el usuario simplemente ingresa los ingrediente que tiene en su refrigerador y con ello, se generarán recetas de distintas dificultades, ya depende del usuario y del tiempo que disponga para hacer cualquiera de ellas.
    </p>
  </div>
<div>
  <img src="assets/facebook.svg" class="facebook-logo" alt="Logo de Facebook"> <img src="assets/instagram.svg" class="instragram-logo" alt="Logo de Instagram"> <img src="assets/twitter.svg" class="twitter-logo" alt="Logo de Twitter">
</div>

  