:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #94AA64; /* Fondo verde */
  color: black; /* Letras en color negro */
  padding: 20px;
  height: 60%; /* Ajusta la altura del componente */
  text-align: center; /* Alinea el texto al centro */
}

.about-container {
  max-width: 700px; /* Ancho máximo del contenedor de texto */
  margin: 0 auto; /* Centra el contenedor */
}

h2 {
  font-weight: bold; /* Texto en negrita */
  font-size: 4em;
  margin-bottom: 20px;
}

p {/* Texto en negrita */
  font-size: 2em;
  line-height: 1.01;
  text-align: center;
}

.facebook-logo {
  position: absolute;
  top:80%; /* Ajusta la posición vertical */
  left: 20px; /* Ajusta la posición horizontal */
}

.instragram-logo {
  position: absolute;
  top:80%; /* Ajusta la posición vertical */
  left: 90px; /* Ajusta la posición horizontal */
}

.twitter-logo {
  position: absolute;
  top:80%; /* Ajusta la posición vertical */
  left: 160px; /* Ajusta la posición horizontal */
}