<div class="title-container">
    <div class="title-container"><h1>Registro</h1></div>
    <form [formGroup]="form" (submit)="registrar()">
      <mat-form-field>
        <input matInput placeholder="Descripcion" formControlName="description" />
        <mat-error *ngIf="form.get('description')?.hasError('required')">
         La descripcion es obligatoria.</mat-error
        >
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary">Aceptar</button> 
    </form>
  </div>
  