<div class="principal-container">
  <div class="text-container">
    <h1>El Lugar donde tus</h1> <h2>recetas se hacen</h2><h3>realidad</h3>
    <p>.</p>
  </div>
  <img src="assets/bandw.png" alt="Logo de la empresa" />
  <img src="assets/bigSalad.png" alt="Logo de la empresa" />
  <div class="categories-container">
    <div class="category">
      <img src="assets/salad.png" alt="Ensaladas">
      <span>ensaladas</span>
    </div>
    <div class="category">
      <img src="assets/dessert.png" alt="Postres">
      <span>postres</span>
    </div>
    <div class="category">
      <img src="assets/pizza.png" alt="Pizzas">
      <span>pizzas</span>
    </div>
    <div class="category">
      <img src="assets/burguer.png" alt="Hamburguesas">
      <span>hamburguesas</span>
    </div>
  </div>
  <img src="assets/facebook.svg" class="facebook-logo" alt="Logo de Facebook"> <img src="assets/instagram.svg" class="instragram-logo" alt="Logo de Instagram"> <img src="assets/twitter.svg" class="twitter-logo" alt="Logo de Twitter">
</div>
